// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --ion-background-color: #000;
  --ion-background-color-rgb: 0, 0, 0;
  --ion-text-color: #fff;
  --ion-toolbar-background: #000;
  --ion-toolbar-color: #fff;
  --ion-card-background: #111;
  --ion-item-background: #111;
  --ion-color-primary: #1a73e8; /* Azul padrão só pra destaque */
}